
* {
  box-sizing: border-box;
}

header, .cardBox, .card, .nexPrevBox {
  width:60vw;
}

.cardBox{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header, button {
  background-color: #34A5DA;
  color:black;
}

header {
  display:flex;
  justify-content:center;
  align-items: start;
  flex-direction: column;
  height:100px;
  padding-left: 50px;
}

.headerLink {
  font-size: 20pt;
  font-weight: bold;
  line-height: 0px;
  z-index: 2;
}
.card {
  background-color: #EBEBEB;
  padding:20px;
  padding-left:80px;
}

h1 {
  border-bottom: solid #34A5DA;
  padding-bottom:3px;
  width:fit-content;
  line-height: 25pt;
  margin:0px;
}

h2 {
  font-weight: 500;
  line-height:20px;
}

aside {
  font-size:25pt;
  font-weight:900;
  position:absolute;
  right:23vw;
}
h3 {
  margin:0px;
  line-height: 2px;
  font-size:16pt;
}
ol {
  padding-left: 80px;
  margin-bottom:30px ;
  font-size: 14pt;
}
.nexPrevBox{
  display:flex;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: none;
}
.nxPrvButton {
  background-color: transparent;
  font-size: medium;
  color:white;
  font-weight: 950;
  font-size: 20pt;
  margin-top:10px;
}

.edDelNewBox{
  display:flex;
  justify-content:center;
  position:relative;
  bottom:40px;
  z-index: 2;
  width:300px;
  height:auto;

}

.edDelNewButton{
  border-radius: 20px;
  border:none;
  font-size: 14pt;
  font-weight:700;
  margin: 10px;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
}

